<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Gameverse</title>
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Atomic+Age" />
	<link rel="stylesheet" href="/layout.css">
</head>
<body>
	<header>
			<p>GABOOK</p>
			<img src="logo_profile.png" alt="profile">
	</header>
	<nav>
		<a href="/">Start</a>
		<a href="/games">Games</a>
	</nav>
	<main>
		{{{body}}}
	</main>
	<footer>
		Copyright Peter
	</footer>
</body>
</html>