<div class="row">
	<div class="col-sm-3 recommended_books">
		<h1>Recommended</h1>
		{{!-- <a href="/books" class="recommended_books">
			<img src="book_3.jpg" alt="profile_picture" class="profile_picture">
			<span class="profile_name">Alexandre Antoniutti @antoniutti <br/>Male 21</span>
			
		</a> --}}
	</div>
	<div class="col-sm-8 recommended_books interests">
		<h1>Recommended books</h1>
	</div>
</div>
<div class="row align-items-center justify-content-center">
	<div class="col-sm-12 text-center recommended_books">
		<h1>Recommended books</h1>
		<ul>
			{{#each books}}
				<li><a href="/book/{{id}}">{{title}}</a></li>
			{{/each}}
		</ul>
	</div>
</div>
