<div class="start_container">
	<img src="books_c.jpg" alt="profile" class="background">
	<a href="/about" class="btn-link">List all profiles</a>
</div> 
<div class="footer_home">
	<img src="book_1.jpg" alt="book_1" class="book_1">
	<img src="book_1.jpg" alt="book_2" class="book_2">
	<img src="book_1.jpg" alt="book_3" class="book_3">
	<img src="book_1.jpg" alt="book_4" class="book_4">
	<img src="book_1.jpg" alt="book_1" class="book_5">
	<img src="book_1.jpg" alt="book_1" class="book_6">
</div>